@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Open+Sans+Condensed:wght@300&display=swap');

body{
    background-image: url(https://images8.alphacoders.com/644/thumb-1920-644361.jpg);
    text-align: center;
    
}
h1 {
    color: aliceblue;
    font-family: 'Island Moments', cursive;
    font-size: 120px; 
    text-align: center;
}
p{
    font-size: 34px;
    color: aliceblue;
}
h2 {
    font-size: 44px;
    color: blanchedalmond;

}
button{
    font-size: 80px;
    color: crimson;
    text-align: center;
}
.sidebar { margin: 0; padding: 0; width: 200px; background-color: #f1f1f1; position: fixed; height: 100%; overflow: auto; } .sidebar a { display: block; color: black; padding: 16px; text-decoration: none; } .sidebar a.active { font-family: 'Rubik Beastly', cursive; font-size: 30px; background-color: #9e06e8; color: white; } .sidebar a:hover:not(.active) { background-color: #555; color: white; }@media screen and (max-width: 700px) { .sidebar { width: 100%; height: auto; position: relative; } .sidebar a { float: left; } div.content { margin-left: 0; } } @media screen and (max-width: 400px) { .sidebar a { text-align: center; float: none; } }
