@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bebas+Neue&family=Mochiy+Pop+P+One&family=Open+Sans+Condensed:wght@300&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mochiy Pop P One', sans-serif;
}

body {
    text-align: center;
   background-color: paleturquoise;
}

p {
  font-family: 'Architects Daughter', cursive;
}
  a {
    text-decoration: none;
    color: orange;
  }

table { 
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}
ol,ul,li {
    text-align: center;
}
.sidebar {
margin: 0;
padding: 0;
width: 200px;
background: #f1f1f1;
height: 100%;
font-family: 'Bebas Neue', cursive;

}

.sidebar a {
  color: black;
  padding: 16px;
  text-decoration: none;

}
.sidebar a.active {
  background-color: #04aa6d;
  color: white;
  
}

.sidebar a:hover:not(.active) {
  background: #555555;
  color: white;
 
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;

}
@media screen and (max-width: 700px) {
 .sidebar {
   width: 100%;
   height: auto;
   position: relative;

  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}

}
@media screen and (max-width: 400px) {
  .sidebar {
    text-align: center;
    float: none;
  }
  
}
